body {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100vh;
  align-items: center;
}

main {
  position: relative;
  margin: auto;
  height: 700px;
  width: 850px;
  background-color: rgb(70, 70, 70);
}

.game {
  position: relative;
  top: 38px;
  left: 55px;
  height: 624px;
  width: 800px;
}

.gamefield {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  width: 624px;
  height: 624px;
  background-color: black;
  overflow: hidden;
}

.legend {
  position: absolute;
  height: 624px;
  width: 70px;
  top: 38px;
  right: 45px;
  display: flex;
  flex-direction: column;
}

.legend_enemies_wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 60%;
  align-content: flex-start;
}

.legend_players_wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 20%;
  align-content: flex-start;
}

.legend_level_wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 20%;
}

.game_object {
  position: absolute;
  height: 48px;
  width: 48px;
}

.tank_player_1 {
  background: url("./assets/images/tank_player1_up_c0_t1_s1.png") 100% 100% no-repeat;
  background-size: cover;
  z-index: 2;
}

.tank_enemy {
  background: url("./assets/images/tank_basic_up_c0_t1.png") 100% 100% no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  z-index: 2;
}

.flag {
  background: url("./assets/images/flag.png") 100% 100% no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}

.players_live {
  position: relative;
  background: url("./assets/images/lives.png") 100% 100% no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.enemies_live {
  position: relative;
  background: url("./assets/images/enemy.png") 100% 100% no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.bullet {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: gray;
}

.brickWall {
  background: url("./assets/images/wall.png") 100% 100% no-repeat;
  background-size: cover;
}

.steelWall {
  background: url("./assets/images/wall_steel.png") 100% 100% no-repeat;
  background-size: cover;
}

.playerBase {
  background: url("./assets/images/base.png") 100% 100% no-repeat;
  background-size: cover;
}

.playerBaseDestroyed {
  background: url("./assets/images/base_destroyed.png") 100% 100% no-repeat;
  background-size: cover;
}

.gameOverScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

.gameScreen-item {
  margin: 10px 0;
}

.hidden {
  display: none;
}

.mainmenu {
  display: flex;
}

li {
  list-style-type: none;
  text-align: center;
  margin-top: 10px;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

.gameLogo {
  background: url("./assets/images/battle_city.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 376px;
  height: 176px;
}

.level_number {
  color: white;
  font-size: 20px;
  padding-left: 10px;
}

.boom_Image_1 {
  z-index: 5;
  background: url("./assets/images/big_explosion_1.png") 100% 100% no-repeat;
  background-size: cover;
}

.boom_Image_2 {
  z-index: 5;
  background: url("./assets/images/big_explosion_2.png") 100% 100% no-repeat;
  background-size: cover;
}

.boom_Image_3 {
  z-index: 5;
  background: url("./assets/images/big_explosion_3.png") 100% 100% no-repeat;
  background-size: cover;
}

.boom_Image_4 {
  z-index: 5;
  background: url("./assets/images/big_explosion_4.png") 100% 100% no-repeat;
  background-size: cover;
}

.boom_Image_5 {
  z-index: 5;
  background: url("./assets/images/big_explosion_5.png") 100% 100% no-repeat;
  background-size: cover;
}

.appear_1 {
  background-color: black;
  z-index: 22;
  background: url("./assets/images/appear_1.png") 100% 100% no-repeat;
  background-size: cover;
}

.appear_2 {
  background-color: black;
  z-index: 22;
  background: url("./assets/images/appear_2.png") 100% 100% no-repeat;
  background-size: cover;
}

.appear_3 {
  background-color: black;
  z-index: 22;
  background: url("./assets/images/appear_3.png") 100% 100% no-repeat;
  background-size: cover;
}

.appear_4 {
  background-color: black;
  z-index: 22;
  background: url("./assets/images/appear_4.png") 100% 100% no-repeat;
  background-size: cover;
}

.gameButton {
  font-size: 25px;
  color: white;
  transition: all 1s ease-out;
}

.gameButton:hover {
  color: red;
  transition: all 1s ease-out;
  cursor: pointer;
}

.gameOverText {
  font-size: 35px;
  color: white;
}
