body {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    align-items: center;    
}


main {
    position: relative;
    margin: auto;
    height: 700px;
    width: 850px;
    background-color: rgb(70, 70, 70);
    
}

.game {
    position: relative;
    top: 38px;
    left: 55px;
    height: 624px;
    width: 800px;
}

.gamefield {
    position: absolute;
    display: flex;    
    top: 0px;
    left: 0px;
    width: 624px;
    height: 624px;
    background-color: black;
    overflow: hidden;
}

.legend {
    position: absolute;
    height: 624px;
    width: 70px;
    top: 38px;
    right: 45px; 
    display: flex;
    flex-direction: column;
      
}

.legend_enemies_wrapper {    
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 60%;
    align-content: flex-start;
}

.legend_players_wrapper {
    display: flex; 
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 20%;
    align-content: flex-start;
    
}

.legend_level_wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 20%;
    
}

.game_object {
    position: absolute;    
    height: 48px;
    width: 48px;    
}



.tank_player_1 {       
    background: url('./assets/images/tank_player1_up_c0_t1_s1.png') 100% 100% no-repeat;
    background-size: cover;
    z-index: 2;
}

.tank_enemy {      
    background: url('./assets/images/tank_basic_up_c0_t1.png') 100% 100% no-repeat;
    background-size: cover;
    z-index: 2;
}

.flag {    
    background: url('./assets/images/flag.png') 100% 100% no-repeat;
    background-size:contain ;
    width: 40px;
    height: 40px;
   
}

.players_live{
    position: relative;
    background: url('./assets/images/lives.png') 100% 100% no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 5px;   
}

.enemies_live{
    position: relative;
    background: url('./assets/images/enemy.png') 100% 100% no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 5px;     
}

.bullet {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;  
    background-color: gray;
}

.brickWall{
    background: url('./assets/images/wall.png') 100% 100% no-repeat;
    background-size: cover;
    

